
/* max-width: 1000px */

@media (max-width: 1000px) {
    .my-ride {
        margin-bottom: 160px;
    
    }

    .my-ride-contents li {
        align-items: center;
        width: 48%;
        padding-bottom: 20px;
        margin-bottom: 80px;
        border-bottom: 1px solid rgb(99, 98, 98);
    
    }
}


/* max-width: 670px */

@media (max-width: 670px) {

    h3 {
        font-size: 25px;
        margin-top: 8px;
    }




    /* header wrapper */
    .header h1 {
        background-color: rgba(107, 142, 35, 0.9);
        margin-left: 10px;
        font-size: 22px;
        padding: 5px 26px;
    }

    .header ul {
        display: flex;
        padding-right: 10px;
        
    }

    .header li {
        font-size: 12px;
        padding-left: 15px;

    }

    /* main warrper */

    .main img {
        height: 480px;
    }

    /* about me wrapper */
    
    .about-me {
        padding-top: 50px;
        margin-bottom: 0;
        text-align: center;
        color: rgb(99, 98, 98);

    }

    .about-me-contents{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .about-me-date {
        font-size: 12px;
        margin-top: 18px;
        padding: 0;
        text-align: center;
        
    }

    /* my-ride-blog warraper */
    .my-ride {
        margin-bottom: 200px;
    
    }

    .my-ride h2 {
        margin-bottom: 20px;
    }
    .my-ride-contents {
        padding-top: 0px;
    }

    .my-ride-contents li {
        align-items: center;
        width: 96%;
        padding-bottom: 20px;
        margin-top: 80px;
        border-bottom: 1px solid rgb(99, 98, 98);
        
    }

    .my-ride-contents p {
        font-size: 14px;
        
    }


    /* scroll top warraper  */
    .scroll-top a {
        text-align: center;
        padding: 0;
        margin-bottom: 30px;

    }


}
